body {
  left: 0;
  margin: 0;
/*  overflow: hidden;*/
  position: relative;
}

.cam_title {

  color: #fff;
  font-size: 48px;  
  font-family: 'Big Caslon','Book Antiqua',Serif;
  text-align: center;
  margin: 90px;
  font-weight: bold;
}

.camlist {
    width: 300px;
    height: 250px;
    position: absolute;
    top: 600px;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
  /*position: relative;
  left: auto;
  right: auto;
*/
  color: black;
  font-size: 24px;
  font-family: 'Big Caslon','Book Antiqua',Serif;
}

.menu {
  background: #202024 url('../Images/menu_pattern.jpg') repeat left top;
  left: -285px;  
  height: 100%;
  position: fixed;
  width: 285px;
}

.menu ul {
  border-top: 1px solid #636366;
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu li {
  border-bottom: 1px solid #636366;
  font-family: 'Open Sans', sans-serif;
  line-height: 45px;
  padding-bottom: 3px;
  padding-left: 20px;
  padding-top: 3px;
}

.menu a {
  color: #fff;
  font-size: 15px;
  text-decoration: none;
  text-transform: uppercase;
}

.icon-close {
  cursor: pointer;
  padding-left: 10px;
  padding-top: 10px;
}

.icon-menu {
  color: #fff;
  cursor: pointer;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  margin-top: -47px;
  padding-bottom: 25px;
  padding-left: 25px;
  padding-top: 25px;
  text-decoration: none;
  text-transform: uppercase;
}

.icon-menu i {
  margin-right: 5px;
}

.jumbotron {
  background-image:url('../Images/head.jpg');
  height: 350px;
  background-size: cover;
}

.jumbotron .container {
  position: relative;
  top:100px;
}

.jumbotron h1 {
  color: #fff;
  font-size: 48px;  
  font-family: 'Big Caslon','Book Antiqua',Serif;
  font-weight: bold;
}

.jumbotron p {
  font-size: 20px;
  color: #fff;
}

.learn-more {
  background-color: #f7f7f7;
}

.learn-more h3 {
  font-family: 'Big Caslon','Book Antiqua',Serif;
  font-size: 18px;
  font-weight: bold;
}

.learn-more a {
  color: #00b0ff;
}

.neighborhood-guides {
    background-color: #efefef;
    border-bottom: 1px solid #dbdbdb;
}

.neighborhood-guides h2 {
    color: #393c3d;    
    font-size: 24px;
}

.neighborhood-guides p {
    font-size: 15px;
    margin-bottom: 13px;
}


#cboxTopLeft {
    width: 21px;
    height: 21px;
    background: url("../Images/control.jpg") no-repeat -101px 0
}

#cboxTopRight {
    width: 21px;
    height: 21px;
    background: url("../Images/control.jpg") no-repeat -130px 0
}

#cboxBottomLeft {
    width: 21px;
    height: 21px;
    background: url("../Images/control.jpg") no-repeat -101px -29px
}

#cboxBottomRight {
    width: 21px;
    height: 21px;
    background: url("../Images/control.jpg") no-repeat -130px -29px
}

#cboxMiddleLeft {
    width: 21px;
    background: url("../Images/control.jpg") left top repeat-y
}

#cboxMiddleRight {
    width: 21px;
    background: url("../Images/control.jpg") right top repeat-y
}

#cboxPrevious {
    position: absolute;
    bottom: 18px;
    left: 20px;
	border: 0;
	margin: 0;
	padding:0;
    background: url("../Images/control.jpg") no-repeat -75px 0;
    width: 26px;
    height: 27px;
    text-indent: -9999px
}

#cboxPrevious:hover {
    background-position: -75px -25px
}

#cboxNext {
    position: absolute;
    bottom: 18px;
	border: 0;
	margin: 0;
	padding:0;
    left: 53px;
    background: url("../Images/control.jpg") no-repeat -50px 0;
    width: 27px;
    height: 27px;
    text-indent: -9999px
}

#cboxNext:hover {
    background-position: -50px -25px
}

#cboxClose {
    position: absolute;
    bottom: 18px;
    right: 20px;
	border: 0;
	margin: 0;
	padding:0;
    background: url("../Images/control.jpg") no-repeat -25px 0;
    width: 27px;
    height: 27px;
    text-indent: -9999px
}

#cboxClose:hover {
    background-position: -25px -25px
}

#cboxTopCenter {
    height: 21px;
    background: url("../Images/border.jpg") 0 0 repeat-x
}

#cboxBottomCenter {
    height: 21px;
    background: url("../Images/border.jpg") 0 -29px repeat-x
}

#cboxContent {
    background: #fff;
    overflow: hidden
}

.cboxIframe {
    background: #fff
}

#cboxError {
    padding: 50px;
    border: 1px solid #ccc
}

#cboxLoadedContent {
    margin-bottom: 28px
}

#cboxTitle {
    position: absolute;
    bottom: 4px;
    left: 0;
    text-align: center;
    width: 100%;
    color: #949494
}

#cboxCurrent {
    position: absolute;
    bottom: 21px;
    left: 110px;
    color: #949494
}

/*#cboxPrevious, #cboxNext, #cboxSlideshow, #cboxClose {
    border: 0;
    padding: 0;
    margin: 0;
    overflow: visible;
    width: auto;
    background: none
}*/
